.home-button{
  border-radius: 10px;
  box-shadow: 4px 4px 6px rgba(0, 24, 90, 0.7);
  padding: 8px 12px;
  background-color: #51F2F4;
  opacity: 70%;
  border: 1px solid rgba(0, 24, 90, 0.7);
  a{
    text-decoration: none;
    color: #0D1B40;
    font-size: 24px;
    font-weight: bold;
  }
}

.home-button:hover{
  background-color: rgba(0, 24, 90, 0.7);
  border: 1px solid #51F2F4;
  a{
    color: #51F2F4;
  }
}

#background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding-left: 50px;
}

.description {
  padding-left: 50px;
  margin-bottom: 60px;
  max-width: 50%;
  text-align: center;
  -webkit-text-stroke: 2px rgba(0, 24, 90, 0.7);
  h1{
    color: white;
    font-family: "Press Start 2P", system-ui;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
  }
}

#buttons-container {
  display: flex;
  gap: 15px;
  justify-content: center;
  width: 50%;
  padding-left: 50px;
}
