<div class="footer d-flex justify-content-around px-2 py-2">
  <div class="marque align-self-center text-white">
    &reg; 2025 Pokeloc'
   <%= image_tag "/images/pokeballs.jpg", alt: "pokemon", id:"pikachu", class: "img-fluid rounded shadow-sm" %>
  </div>
  <div class="footer-links d-flex align-items-center">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#" id ="FAQ" class=" text-white m-0 "> |</a>
    <a href="#" id="FAQ" class="text-white"> FAQ Contact Mentions légales</a>
  </div>


</div>
