<div class="footer d-flex justify-content-between px-2">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
 <div class="marque align-self-center text-white">
    &reg; 2025 Pokeloc'Airbnb
  </div>
  <div class="footer-copyright align-self-center">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
