<div class="navbar navbar-expand-sm navbar-light fixed-top navbar-lewagon">
  <div class="container-fluid">

    <%= link_to root_path do %>
      <img id="pokeball-accueil" src="/images/pokeball.png" alt="logo" class="navbar-brand rounded-circle" style="width: 50px; height: auto;"/>
    <% end %>

    <div id="logo-pokeloc" class="navbar-brand ">
        <img src="https://media.discordapp.net/attachments/829469989563269131/1344749503558975629/6af063a468db635ab1eb16dc393e49ff.png?ex=67c94b51&is=67c7f9d1&hm=777d74c8048c12569e4c0bd917db86991de39a3c456255d55dcc59b21c9b9de9&=&format=webp&quality=lossless"
        alt="logo pokeloc'">
    </div>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav d-flex align-items-center">

        <% if user_signed_in? %>

          <li class="nav-item">
            <%= link_to "Bookings", bookings_path, class: "nav-link text-white" %>
          </li>

          <li class="nav-item dropdown">
            <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa-solid fa-user text-white"id ="avatar"alt= "dropdown menu"></i>
            </a>

            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>

        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link text-white" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
