<div id="background">
  <style>
    body {
      background-image: url('/images/pokehome2.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
  </style>

  <div class="description">
    <h1>Enter the world of Pokemon and become League Champion!</h1>
  </div>

  <div  data-controller = "audio" id="buttons-container">

    <div  class="home-button">
        <%= link_to " See pokemons", pokemons_path %>
      </div>
    </div>
</div>
