.navbar-lewagon {
  justify-content: space-between;
  background: rgb(1, 20, 71);
  color: white;
  // font-family:"Jersey 20", sans-serif;
  // font-weight: 400;
  // font-style: normal;
  // font-size: 24px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
#avatar {
  font-size: 1.5rem;
  margin-left: 10px;
}
