.navbar-lewagon {
  justify-content: space-between;
  background: rgba(0, 24, 90, 0.7);
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon * {
  opacity: 1;
}
.nav-item a{
  font-size: 16px;
}
