.banner{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
}
.pokemon-show-bg{
  // background-color:rgb(73, 90, 114);
}
.pokemon-container-show {
  display: flex;
  flex-wrap: wrap;
  // background-color: rgb(73, 90, 114)   ;
  position: relative;
  top: -50px;
  gap: 20px;
  border-radius: 8px;
}
.pokemon-card {
  display: flex;
  background-color:rgb(247, 241, 215);
  gap: 20px;
  flex: 3;
  padding: 20px;
  border-radius: 5px;
}
// .map-container {
//   filter: saturate(1.5);
// }
// #map {
//   border-radius: 8px;

// }
.carousel-control-prev,
.carousel-control-next {
  width: 10%; /* Réduit la largeur de la zone cliquable */
}

.carousel-control-prev {
  left: -10px; /* Rapproche la flèche gauche */
}

.carousel-control-next {
  right: -10px; /* Rapproche la flèche droite */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 30px; /* Taille des icônes */
  height: 30px;
}
.pokemon-image-container {
  flex: 1.5;
}
.pokemon-info {
  flex: 1;
}

.booking {
  flex: 1;
}
.new-booking {
  padding: 20px;
  border-radius: 5px;
  // background-color:rgb(126, 185, 211);
  background-color: rgb(247, 241, 215);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.booking .container {
  width: 100%;
}
.booking h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .pokemon-card {
    flex-direction: column;
    align-items: center;
  }

  .pokemon-image-container,
  .pokemon-info {
    width: 100%;
    margin-bottom: 20px;
  }
}
.pokemon-info-card{
  border: 1px solid bisque;
  border-radius: 48px 0;
  background-color: bisque;
  font-size: 16px;
  color: rgb(203, 118, 63);
  min-height: 200px;
}
