.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5); /* couleur de fond des flèches */
  width: 40px; /* taille des flèches */
  height: 40px; /* hauteur des flèches */
}
