.banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
}
.pokemon-show-bg {
  background:linear-gradient( rgb(210, 224, 251), rgb(126, 185, 211), rgb(63, 94, 141));
}
.pokemon-container-show {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: -50px;
  gap: 20px;
  border-radius: 8px;
}
.pokemon-card {
  display: flex;
  gap: 20px;
  flex: 3;
  padding: 20px;
  border-radius: 5px;
  background: linear-gradient(rgb(247, 241, 215),rgb(250, 231, 134));
}
.pokemon-card > h2 {
  color : rgb(203, 118, 63);
  font-family: "Jersey 20", sans-serif;
  font-size: 45px;
}

.carousel-control-prev,
.carousel-control-next {
  width: 10%;
}

.carousel-control-prev {
  left: -10px;
}

.carousel-control-next {
  right: -10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 30px;
  height: 30px;
}
.pokemon-image-container {
  flex: 1.5;
}
.pokemon-info {
  flex: 1;
}
.form-new {
  background-color: rgb(247, 241, 215);
  opacity: 0.9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.form .input {
  background-color: bisque;
}
.pokemon-info-card {
  border: 1px solid bisque;
  border-radius: 48px 0;
  background-color: bisque;
  font-size: 16px;
  color: rgb(203, 118, 63);
  min-height: 200px;
}
h4, h5 {
  font-family: "Jersey 20", sans-serif;
  color: rgb(203, 118, 63);
  font-size: 30px;
}
.askBooking {
  color: rgb(203, 118, 63);
  font-size: 30px;
  font-weight: bolder;
}
.bookings-container {
  background: linear-gradient(  rgb(63, 94, 141), rgb(126, 185, 211), rgb(210, 224, 251));
}
.booking {
  flex: 1;
}
.book-name {
  font-family: "Jersey 20", sans-serif;
  color: rgb(203, 118, 63);
  font-size: 28px;
  opacity: 1;
}
.new-booking {
  padding: 20px;
  border-radius: 5px;
  background-color: rgb(247, 241, 215);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position:sticky;
}
.booking .container {
  width: 100%;
}
.booking h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}
.new {
  background: linear-gradient(rgb(210, 224, 251), rgb(126, 185, 211), rgb(63, 94, 141));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.new-title {
font-family: "Jersey 20", sans-serif;
color: rgb(203, 118, 63);
font-size: 45px;
}
.new-review {
  background-color: rgb(247, 241, 215);
  opacity: 0.9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

